#content
    include content/greet
    .container
        .container-heading
            h3.container-title All Customers
            p.user_status.active Active Members
            include search-form

        include content/customer-list
        include content/pagination