.logo-container
    h1.logo
        a(
            class="logo-link",
            href="#"
        )
            include ../icons/logo
            span.logo-text Dashboard<span class="logo-sub_text">v.01</span>
