.user_info
    img(
        class="user_info-avatar"
        src="./images/avatar1.jpg"
        width=42
        height=42
        alt="user name"
    )
    b.user_info-name Evano
    p.user_info-description Project Manager