input {
  &[type=text] {
    background: var(--light3);
    padding: 1.2rem 1rem;
    border-radius: 1rem;
    border-style: none;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: var(--dark);

    &:focus {
      outline: none;
      box-shadow: 0 0 .4rem 0 var(--gray8);
    }

    &::placeholder {
      color: var(--gray5);
    }
  }
}

button {
  padding: 0;
  background: none;
  border-style: none;
}

.search_form {
  &-field {
    position: relative;
  }

  &-button {
    position: absolute;
    left: .8rem;
    top: .7rem;
    color: var(--gray4);
    svg {
      display: block;
    }
    
    &:not([disabled]) {
      color: #000;
      cursor: pointer;
    }
  }

  &-input[type=text] {
    padding-left: 4rem;
    width: 21.6rem;
    box-sizing: border-box;
    transition: var(--default-animation);

    @media screen and (width < 640px) {
      width: 100%;
    }

    &.active,
    &:focus {
      width: 32rem;

      @media screen and (width < 640px) {
        width: 100%;
      }
    }
  }
}