.pagination {
  display: flex;
  justify-content: space-between;
  color: var(--gray5);


  @media all and (width < 768px){
    flex-direction: column;
    gap: 1.5rem;
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.2rem;
    color: var(--gray8);
    font-size: 1.2rem;
    line-height: 1;
    align-items: baseline;

    &-link {
      color: inherit;
      display: block;
      padding: .5rem .2rem;
      background: var(--gray9);
      border:1px solid var(--gray6);
      box-sizing: border-box;
      min-width: 2.6rem;
      text-align: center;
      border-radius: .4rem;
      transition: var(--default-animation);

      &:hover,
      &.active {
        background: var(--blue);
        border-color: var(--blue);
        color: var(--light);
      }

      &.active {
        pointer-events: none;
      }
    }
  }
}